.offers_sections {
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgb(249, 249, 253);
    background: linear-gradient(
      0deg,
      rgba(249, 249, 253, 1) 0%,
      rgba(167, 154, 234, 1) 100%
    );
    margin: 1rem 2rem;
    border-radius: 6px;
    text-align: center;
    padding-top: 3rem;
  }
  
  .offers_sections p {
    font-size: 12px;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  
  .left_section h1 {
    flex-wrap: wrap;
  }
  
  .right_section {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  
  .right_section input {
    flex-wrap: wrap;
    padding-left: 0.5rem;
    padding-right: 10rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .right_section button {
    flex-wrap: wrap;
    padding-left: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-right: 0.4rem;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .right_section button:hover {
    background-color: rgb(60, 54, 54);
    color: white;
  }
  
  @media screen and (max-width:440px) {
    .offers_sections h1{
        font-size: 1.5rem;
        margin-right: 1.5rem;
        flex-wrap: wrap;
    }

    .offers_sections p{
        margin-right: 2rem;
    }
    .right_section input{
        padding-right: 2rem;
    }
  }
